@font-face {
  font-family: GothamPro;
  src: url(../../fonts/GothamPro.ttf);
}
@font-face {
  font-family: Lato;
  src: url(../../fonts/Lato-Regular.woff2);
}

.slide_container {
  background-image: url(../../assets/slide1_bg.png);
  background-size: cover;
  color: #0d319c;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  line-height: 1.2;
  text-align: left;
}
.slide_header {
  position: absolute;
  top: 150px;
  left: 75px;
  font-size: 50px;
  font-family: "GothamPro", sans-serif;
}
.slide_target {
  position: absolute;
  left: 625px;
  top: 281px;
}
.slide_hypogl {
  position: absolute;
  left: 225px;
  top: 400px;
}
.slide_complicationsSD {
  position: absolute;
  left: 370px;
  top: 512px;
}
.slide_SSrisks {
  position: absolute;
  left: 790px;
  top: 492px;
}
